name: Setup bpftool test
on:
  pull_request:
    paths:
      - 'action.yaml'
      - '.github/workflows/test.yaml'
  push:
    paths:
      - 'action.yaml'
      - '.github/workflows/test.yaml'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v4
    - name: Install bpftool
      uses: ./

  test-authenticated:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v4
    - name: Install bpftool
      uses: ./
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
